<div class="min-h-screen bg-bottom-right hero bg-[url('/images/hero.jpg')] bg-local mb-15">
    <div class="bg-opacity-50 hero-overlay"></div>
    <div class="text-center hero-content text-neutral-content">
        <div>
            <h1 class="mb-5 text-5xl font-bold text-white [text-shadow:0_2px_6px_rgba(0,0,0,0.5)] sm:text-6xl">
                Selamat datang di Serpong Telco
            </h1>
            <p class="mb-5 text-white [text-shadow:0_2px_6px_rgba(0,0,0,0.5)] text-2xl">
                Partner Terpercaya untuk Kebutuhan Fiber Optik Anda
            </p>
        </div>
    </div>
</div>
