<div class="bg-white">
    <div class="py-20 sm:py-40 px-4 sm:max-w-4/5 sm:mx-auto">
        <h3 class="text-lg font-semibold text-blue-600 border-2 border-blue-600 rounded-lg p-2 mb-10 sm:mx-auto sm:mb-20 text-center">
            Temukan produk kami
        </h3>

        <div class="grid grid-cols-1 gap-4">
            <div class="flex flex-col gap-4 pb-6 border-2 rounded-lg border-gray-300">
                <p class="py-2 mb-6 font-semibold text-center bg-base-300">Belanja Online</p>
                <img src="/images/tokopedia.png" alt="tokopedia_img" class="w-1/2 m-auto" />
                <a
                    href="https://www.tokopedia.com/serpongtelco"
                    class="btn bg-[#61CE70] hover:bg-[#67ad71] mx-auto rounded-md dark:text-black"
                    >Cek Sekarang<i class="fa-solid fa-shop"></i></a
                >
            </div>

            <!-- <div class="flex flex-col gap-4 pb-6 border-2 rounded-lg border-gray-300">
                <p class="py-2 mb-6 font-semibold text-center bg-base-300">Belanja Offline</p>
                <div class="w-full p-3">
                    <iframe
                        width="100%"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        class="h-50"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8&q=Serpong%20Telco&zoom=15&maptype=roadmap"
                    ></iframe>
                </div>
                <a href="https://maps.app.goo.gl/9fNYsf7bvkrp35X2A" class="mx-auto text-red-700 btn border-2 border-red-700 rounded-md"
                    >Ayo Berkunjung <i class="fa-solid fa-location-arrow"></i></a
                >
            </div> -->
        </div>
    </div>
</div>
