---
import { FaWhatsapp } from "react-icons/fa";
---

<a
    href="https://wa.me/6287780122469"
    class="w-15 h-15 rounded-full fixed bottom-1 right-2 bg-green-600 flex items-center justify-center animate-bounce sm:hidden"
>
    <FaWhatsapp color="#FFF" size="40px" />
</a>
