---
type Props = {
    title: string;
    nav: "Beranda" | "Produk" | "Kontak";
};
import "./../styles/global.css";
import Navbar from "./../components/Astro/Navbar.astro";
import Footer from "./../components/Astro/Footer.astro";
import WAFloating from "../components/Astro/WAFloating.astro";

const { title = "Serpong Telco", nav = "Beranda" } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Halaman website Serpong Telco" />
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="serpongtelco, fiber optic, precon, kabel, tiang" />
        <link rel="icon" href="/favicon.ico" />
        <title>{title}</title>
    </head>
    <body class="bg-[#eaeaea] flex flex-col">
        <Navbar nav={nav} />
        <main>
            <slot />
        </main>
        <Footer />
        <WAFloating />
    </body>
</html>
